/*
CSS styling for the F&C Application Webpage
*/

body {
    background-image: url("#");
    color: #000305;
    font-size: 87.5%;
    font-family: Arial, 'Lucida Sans Unicode';
    line-height: 1.5;
    text-align: left;
}

.body {
    margin: 0 auto;
    width: 70%;
    clear: both;
}