/*
CSS styling for the F&C Application Webpage
*/

body {
    color: #000305;
    font-size: 87.5%;
    font-family: Arial, 'Lucida Sans Unicode';
    line-height: 1.5;
    text-align: left;
    background-color: #efefef;
}

a {
    text-decoration: none;
}

a:link, a:visited {
    color: #1F643E;
}

a:hover {
    color: #1F643E;
}

.body {
    margin: 0 auto;
    width: 70%;
    clear: both;
    background-color: #D0D0D1;
}

.mainHeader nav {
    background-color: #7D7D81;
    height: 40px;
    border-radius: 5px;
    -moz-border-radius: 5px; 
    -webkit-border-radius: 5px;
    margin: 2% auto;
    box-shadow: 0 2px 7px 0 rgba(0,0,0,.16), 0 0 2px 0 rgba(0,0,0,.12);    
}

.mainHeader nav ul {
    list-style: none;
    margin: 0 auto;
}

.mainHeader nav ul li {
    display: inline;
}

.mainHeader nav a:link, .mainHeader nav a:visited {
    color: #FFF;
    display: inline-block;
    padding: 10px 25px;
    height: 20px;
}

.mainHeader nav a:hover, .mainHeader nav a:active, .mainHeader nav .active a:link, .mainHeader nav a:visited {
    background-color: #1F643E;
    text-shadow: none;
}

.mainHeader nav ul li a {
    border-radius: 5px;
    -moz-border-radius: 5px; 
    -webkit-border-radius: 5px;
}

.mainContent {
    border-radius: 5px;
    -moz-border-radius: 5px; 
    -webkit-border-radius: 5px;
    line-height: 25px;
}

.content {
    width: 70%;
    float: left;
}

.firstArt {
    border-radius: 5px;
    -moz-border-radius: 5px; 
    -webkit-border-radius: 5px;
    background-color: #FFF;
    padding: 1% 5%;
    box-shadow: 0 2px 7px 0 rgba(0,0,0,.16), 0 0 2px 0 rgba(0,0,0,.12);
}

.secondArt {
    border-radius: 5px;
    -moz-border-radius: 5px; 
    -webkit-border-radius: 5px;
    background-color: #FFF;
    padding: 1% 5%;
    margin-top: 2%;
    box-shadow: 0 2px 7px 0 rgba(0,0,0,.16), 0 0 2px 0 rgba(0,0,0,.12);
}

img:hover {
    opacity: 0.5;
    filter: alpha(opacity=50);
}

.top-sidebar {
    height: 100px;
    width: 27%;
    float: left;
    background-color: #FFF;
    border-radius: 5px;
    -moz-border-radius: 5px; 
    -webkit-border-radius: 5px;
    margin: 0 0 2% 3%;
    box-shadow: 0 2px 7px 0 rgba(0,0,0,.16), 0 0 2px 0 rgba(0,0,0,.12);
}

.top-sidebar a img {
    height: 100%;
    width: 100%;
    vertical-align: bottom;
    object-fit: cover;
    border-radius: 5px;
    -moz-border-radius: 5px; 
    -webkit-border-radius: 5px;
}

.middle-sidebar {
    height: 100px;
    width: 27%;
    float: left;
    background-color: #FFF;
    border-radius: 5px;
    -moz-border-radius: 5px; 
    -webkit-border-radius: 5px;
    margin: 0 0 2% 3%;
    box-shadow: 0 2px 7px 0 rgba(0,0,0,.16), 0 0 2px 0 rgba(0,0,0,.12);
}

.middle-sidebar a img {
    height: 100%;
    width: 100%;
    vertical-align: bottom;   
    object-fit: cover;    
    border-radius: 5px;
    -moz-border-radius: 5px; 
    -webkit-border-radius: 5px;
}

.bottom-sidebar {
    height: 100px;
    width: 27%;
    float: left;
    background-color: #FFF;
    border-radius: 5px;
    -moz-border-radius: 5px; 
    -webkit-border-radius: 5px;
    margin: 0 0 2% 3%;
    box-shadow: 0 2px 7px 0 rgba(0,0,0,.16), 0 0 2px 0 rgba(0,0,0,.12);
}

.bottom-sidebar a img {
    height: 100%;
    width: 100%;
    vertical-align: bottom;
    object-fit: cover;    
    border-radius: 5px;
    -moz-border-radius: 5px; 
    -webkit-border-radius: 5px;
}

.subbottom-sidebar {
    height: 100px;
    width: 27%;
    float: left;
    background-color: #FFF;
    border-radius: 5px;
    -moz-border-radius: 5px; 
    -webkit-border-radius: 5px;
    margin: 0 0 2% 3%;
    box-shadow: 0 2px 7px 0 rgba(0,0,0,.16), 0 0 2px 0 rgba(0,0,0,.12);
}

.subbottom-sidebar a img {
    height: 100%;
    width: 100%;
    vertical-align: bottom;
    object-fit: cover;    
    border-radius: 5px;
    -moz-border-radius: 5px; 
    -webkit-border-radius: 5px;
}

.mainFooter {
    width: 100%;
    float: left;
    height: 40px;
    border-radius: 5px;
    -moz-border-radius: 5px; 
    -webkit-border-radius: 5px;
    background-color: #7D7D81;
    margin: 2% 0;
    display: table;
    box-shadow: 0 2px 7px 0 rgba(0,0,0,.16), 0 0 2px 0 rgba(0,0,0,.12);
}

.mainFooter address {
    width: 92%;
    padding-left: 20px;
    display: table-cell;
    vertical-align: middle;
    font-style: normal;
    color: #FFF;
}

@media only screen and (min-width: 200px) and (max-width: 800px) {
    .body {
        width: 90%;
    }

    .mainHeader nav {
        height: 160px;   
    }
    
    .mainHeader nav ul {
        padding-left: 0;
    }
    
    .mainHeader nav ul li {
        width: 100%;
        text-align: center;
    }
    
    .mainHeader nav a:link, .mainHeader nav a:visited {
        padding: 10px 25px;
        height: 20px;
        display: block;
    }
    
    .content {
        width: 100%;
        float: left;
        margin-top: 2%;
    }

    .firstArt {
        margin: 0 0 4% 0;
    }
    
    .secondArt {
        margin: 0 0 4% 0;
    }

    .top-sidebar {
        height: 100px;
        width: 49%;
        margin: 0 1% 4% 0;
    }
    
    .middle-sidebar {
        height: 100px;
        width: 49%;
        margin: 0 0 4% 1%;
    }
    
    .bottom-sidebar {
        height: 100px;
        width: 49%;
        margin: 0 1% 4% 0;
    }
    
    .subbottom-sidebar {
        height: 100px;
        width: 49%;
        margin: 0 0 2% 1%;
    }
}